{% extends 'base.html' %}
{% load static %} 
{% block content %}

{% block pageheading %}
Add Top Services
{% endblock %}


<!-- Page Sidebar Ends-->
<div class="page-body">
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card" style='width: 1019px; margin-left: 96px;'>
          <div class="card-body">
            <form method='post' enctype='multipart/form-data'>
              {% csrf_token %}
            <div class="form theme-form">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label>Service</label>
                    {{form.Category}}
                  </div>
                </div>
                
              </div>
             
              
              
              </div>
              
              
              <div class="row">
                <div class="col">
                  <div class="text-end">
                    <input type='submit' class="btn btn-success me-3" value='Submit'>
                    <a class="btn btn-danger" href="#" onclick="window.history.back(); return false;">Cancel</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>


<script>
  document.getElementById('convert').addEventListener('click', function() {
    const packageName = document.getElementById('id_category_name').value;
    convertToArabic(packageName);
  });

  function convertToArabic(text) {
    const url = `https://api.mymemory.translated.net/get?q=${encodeURIComponent(text)}&langpair=en|ar`;

    fetch(url)
      .then(response => response.json())
      .then(data => {
        const translatedText = data.responseData.translatedText;
        document.getElementById('id_category_name_arabia').value = translatedText;
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>


{% endblock %}