{% extends 'base.html' %}
{% load static %} 
{% block content %}

{% block pageheading %}
Country
{% endblock %}


      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  {% comment %} <form method="post" action="{% url 'siyyana_app:import_excel_country' %}" class="row g-3 mb-2">
                    {% csrf_token %}
                    <div class="col-md-2">
                      <input type="file" class="form-control form-control-sm" name="excel_file" required>
                    </div>
                    <div class="col-md-1">
                        <input type="submit" class="btn btn-primary" value="Import excel">
                    </div>
                </form> {% endcomment %}
                  <div class="list-product-header">
                    
                    <div>
                      <a class="btn"  style="background-color: #086b94; border-color: #086b94; color: white;" href="{% url 'siyyana_app:add_country' %}"
                        ><i class="fa fa-plus"></i>Add Country</a
                      >
                    </div>
                    
                  <div class="list-product">
                      <table class="display" id="row-select-delete">
                        <thead>
                          <tr>
                            <th>SL</th>
                            <th>Country Name</th>
                            <th>Flag</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in data %}
                          <tr>
                            <td>{{forloop.counter }}</td>
                            <td>{{i.name}}</td>
                            {% if i.flag %}
                            <td><img src='{{i.flag.url}}' style="width:30px;height:30px;"></td>
                            {% else %}
                            <td>None</td>
                            {% endif %}
                            <td>
                              <ul class="action">
                                <li class="edit">
                                  <a href="{% url 'siyyana_app:edit_country' i.id %}"
                                    ><i class="icon-pencil-alt"></i
                                  ></a>
                                </li>
                                <li class="delete">
                                  <a  onclick="showConfirmation('{%  url 'siyyana_app:country_delete' i.id %}')"><i class="icon-trash me-2"></i></a>
                                </li>
                              </ul>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
      <!-- footer start-->


{% endblock content %}