{% extends 'base.html' %}
{% load static %} 
{% block content %}

{% block pageheading %}
Employees
{% endblock %}


      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                    <form method="get" class="row g-3 mb-2">
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" name="country" style="margin-right: 1rem;">
                                <option value="All">Country</option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}" {% if country.id|stringformat:"s" == request.GET.country %}selected{% endif %}>{{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                      
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" name="state" style="margin-right: 1rem;">
                                <option value="All">State</option>
                                {% for state in states %}
                                    <option value="{{ state.id }}" {% if state.id|stringformat:"s" == request.GET.state %}selected{% endif %}>{{ state.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" name="district" style="margin-right: 1rem;">
                                <option value="All">District</option>
                                {% for district in districts %}
                                    <option value="{{ district.id }}" {% if district.id|stringformat:"s" == request.GET.district %}selected{% endif %}>{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2">
                            <select class="form-select form-select-sm" name="category" style="margin-right: 1rem;">
                                <option value="All">Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    
                        <div class="col-md-2">
                            <select class="form-select form-select-sm" name="subcategory" style="margin-right: 1rem;">
                                <option value="All">Sub Category</option>
                                {% for subcategory in subcategories %}
                                    <option value="{{ subcategory.id }}" {% if subcategory.id|stringformat:"s" == request.GET.subcategory %}selected{% endif %}>{{ subcategory.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                        <div class="col-md-1">
                            <input type="submit" class="btn btn-primary" value="Filter">
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-success" name="export_excel" value="1" title="Export to Excel">
                                <i class="fas fa-file-excel"></i>
                            </button>
                        </div>
                    </form>
                    
                  <div class="list-product-header">
                    {% comment %} <div>
                      <a class="btn"  style="background-color: #086b94; border-color: #086b94; color: white;" href="{% url 'siyyana_app:add_services' %}"
                        ><i class="fa fa-plus"></i>Add Employees</a
                      >
                    </div> {% endcomment %}
                    
                  <div class="list-product"  style="overflow-x: auto;">
                      <table class="display" id="row-select-delete">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile Number</th>
                                <th>WhatsApp Number</th>
                                <th>Profile Picture</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>District</th>
                                
                              </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ user.name }}</td>
                              <td>{{ user.email }}</td>
                              <td>
                                <a href="tel:{{ user.mobile_number }}">
                                    <i class="fas fa-phone"></i> {{ user.mobile_number }}
                                </a>
                            </td>
                    
                            <!-- Call Dial Pad Link -->
                            <td>
                                <a href="https://wa.me/{{ user.whatsapp_number }}" target="_blank">
                                    <i class="fab fa-whatsapp"></i> {{ user.whatsapp_number }}
                                </a>
                               
                            </td>
                              <td>
                                {% if user.profile_picture %}
                                  <img src="{{ user.profile_picture.url }}" style="width:49px;height:50px;">
                                {% else %}
                                  None
                                {% endif %}
                              </td>
                              <td>
                                {% if user.status == 'Active' %}
                                <label class="switch">
                                  <input type="checkbox" class="checkbox-category" data-category-url="{% url 'siyyana_app:staff_status_change' user.id %}" checked>
                                  <span class="slider round"></span>
                                </label>
                                {% else %}
                                <label class="switch">
                                  <input type="checkbox" class="checkbox-category" data-category-url="{% url 'siyyana_app:staff_status_change' user.id %}" >
                                  <span class="slider round"></span>
                                </label>
                                {% endif %}
                              </td>
                              <td>
                                <ul class="action">
                                  {% comment %} <li class="edit">
                                    <a href="#">
                                      <i class="icon-pencil-alt"></i>
                                    </a>
                                  </li> {% endcomment %}
                                  <li class="delete">
                                    <a onclick="showConfirmation('{% url 'siyyana_app:employee_delete' user.id %}')">
                                      <i class="icon-trash me-2"></i>
                                    </a>
                                  </li>
                                  <li class="delete">
                                    <a href="{% url 'siyyana_app:view_profile' user.id %}">
                                      <i class="icon-eye me-2"></i>
                                    </a>
                                  </li>
                                </ul>
                              </td>
                              <td>{{ user.country}}</td>
                              <td>{{ user.state.name }}</td>
                              <td>{{ user.district.name }}</td>
                              
                              
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
      <!-- footer start-->


{% endblock content %}