{% extends 'base.html' %}
{% load static %} 
{% block content %}

{% block pageheading %}
Sub Services
{% endblock %}


      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="list-product-header">
                    <div>
                      <a class="btn"  style="background-color: #086b94; border-color: #086b94; color: white;" href="{% url 'siyyana_app:add_subservices' %}"
                        ><i class="fa fa-plus"></i>Add Sub Services</a
                      >
                    </div>
                    
                  <div class="list-product">
                      <table class="display" id="row-select-delete">
                        <thead>
                          <tr>
                            <th>SL</th>
                            <th>Category name</th>
                            <th>Sub category</th>
                            <th>Logo</th>
                            <th>Color</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in data %}
                          <tr>
                            <td>{{forloop.counter }}</td>
                            <td>{{i.service}}</td>
                            <td>{{i.name}}</td>
                            {% if i.logo %}
                            <td><img src='{{i.logo.url}}' style="width:30px;height:30px;"></td>
                            {% else %}
                            <td>None</td>
                            {% endif %}
                            <td><span style="background-color: {{ i.color }}; padding: 5px 10px; color: white;"></td>
                            <td>
                              <ul class="action">
                                <li class="edit">
                                  <a href="{% url 'siyyana_app:edit_subservices' i.id %}"
                                    ><i class="icon-pencil-alt"></i
                                  ></a>
                                </li>
                                <li class="delete">
                                  <a  onclick="showConfirmation('{%  url 'siyyana_app:delete_subservices' i.id %}')"><i class="icon-trash me-2"></i></a> 
                                </li>
                              </ul>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
      <!-- footer start-->


{% endblock content %}