{% extends 'base.html' %}
{% load static %} 
{% block content %}

{% block pageheading %}
Users
{% endblock %}
      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="list-product-header">
                    {% comment %} <div>
                      <a class="btn"  style="background-color: #2096ad; border-color: #2096ad; color: white;" href="{% url 'siyyana_app:add_services' %}"
                        ><i class="fa fa-plus"></i>Add Employees</a
                      >
                    </div> {% endcomment %}
                    
                  <div class="list-product"  style="overflow-x: auto;">
                      <table class="display" id="row-select-delete">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>WhatsApp Number</th>
                                <th>Country</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Action</th>
                              </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ user.name }}</td>
                              <td>
                                <a href="tel:{{ user.mobile_number }}">
                                    <i class="fas fa-phone"></i> {{ user.mobile_number }}
                                </a>
                            </td>
                    
                            <!-- Call Dial Pad Link -->
                            <td>
                                <a href="https://wa.me/{{ user.whatsapp_number }}" target="_blank">
                                    <i class="fab fa-whatsapp"></i> {{ user.whatsapp_number }}
                                </a>
                               
                            </td>
                              <td>{{ user.country}}</td>
                              <td>{{ user.state.name }}</td>
                              <td>{{ user.district.name }}</td>
                              
                              <td>
                                <ul class="action">
                                  {% comment %} <li class="edit">
                                    <a href="#">
                                      <i class="icon-pencil-alt"></i>
                                    </a>
                                  </li> {% endcomment %}
                                  <li class="delete">
                                    <a onclick="showConfirmation('{% url 'siyyana_app:user_delete' user.id %}')">
                                      <i class="icon-trash me-2"></i>
                                    </a>
                                  </li>
                                 
                                </ul>
                              </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
      <!-- footer start-->


{% endblock content %}